apiVersion: v1
kind: Service
metadata:
  name: svc-db
  namespace: container-team2a
spec:
  clusterIP: None
  selector:
    app: postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
  type: ClusterIP